@keyframes rotate-triangle {
    0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes rotate-reverse {
    0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}